*{
    margin: 0;
    padding: 0;
}

body{
    width: 400px;
    margin: auto;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.container, header{
    display: flex;
}

header{
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 5px;
}

header p{
    color: #d4dadc;
    font-size: 25px;
}

#decorative{
    width: 40%;
    height: 20px;
    background-color: #ecd9b6;
    border: 2px dotted black;
}

main.container{
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    background-color: #4d4f4e;
    padding: 5px;
}
#display{
    border:8px solid #21282d;
    background-color: #d5e2d7;
    height: 30px;
    font-size: 30px;
    flex: 1;
    text-align: right;
    padding: 5px 0px;
}

.container#numberPad, .container#operatorsPad{
    flex-direction: column;
}

#numberPad{
    width: 300px;
}

#numPad1to9{
    flex-flow: row wrap;
}

#numPad1to9 .numButton{
    width: 90px;
}

.numButton{
    height: 50px;
    margin: 5px;
    color: #f6f6f7;
    background-color: #505155;
    border: 0;
    box-shadow: 1px 1px 3px black;
    font-size: inherit;
}

.operatorButton, #operatorsPad{
    flex:1;
}

.operatorButton{
    margin: 5px;
    color: #f6f6f7;
    background-color: #f7434f;
    border: 0;
    box-shadow: 1px 1px 3px black;
    font-size: inherit;
}

footer{
    margin: 40% 0px;
    font-size: 15px;
    color:#4d4f4e;

}